

<%= form_with(model: resource_metadatum, local: true) do |form| %>
  <% if resource_metadatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource_metadatum.errors.count, "error") %> prohibited this resource_metadatum from being saved:</h2>

      <ul>
      <% resource_metadatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %><br>
    <%= form.text_field :Title, id: :resource_metadatum_Title %>
  </div>

  <div class="field">
    <%= form.label :Author %><br>
    <select class="js-example-basic-multiple" name="add_authors[]" multiple="multiple">
      <%= options_from_collection_for_select(@cur_authors, :id, :author_name) %>
    </select>
  </div>

  <div class="field">
    <%= form.label :publish_date %><br>
    <%= form.date_select :publish_date, id: :resource_metadatum_publish_date %>
  </div>

  <div class="field">
    <%= form.label :Abstract %><br>
    <%= form.text_field :Abstract, id: :resource_metadatum_Abstract %>
  </div>

  <div class="field">
    <%= form.label :Link %><br>
    <%= form.text_field :Link, id: :resource_metadatum_Link %>
  </div>

  <div class="field">
    <%= form.label :Tags %><br>
    <select class="js-example-basic-multiple" name="add_tags[]" multiple="multiple">
      <%= options_from_collection_for_select(@cur_tags.all, :id, :Tag_Title) %>
    </select>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
