<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:30px">
     
    <a href="https://mothersonthefrontline.com"> <%= image_tag("motfl.png", :type => :upload, 
    :width => 70, :height => 70, :crop => :fill ) %> MOTHERS ON THE FRONTLINE</a></h1>
    <p>Mothers speaking openly about children's mental health</p>
  </div>
</div>

<div class="topnav">
  
   <div class="dropdown">
    <button class="dropbtn" onclick="window.location.href = '/users';"> Users 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/users/new"> New User</a>
    </div>
  </div> 
  
  <div class="dropdown">
    <button class="dropbtn" onclick="window.location.href = '/resources';"> Resources </a> 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/resources/new"> New Resource</a>
    </div>
  </div> 
  
  <a href=#>My Information</a>
  <a href=#>Login</a>
  
</div>



<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource_metadatum.Title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @resource_metadatum.Author %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @resource_metadatum.publish_date %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @resource_metadatum.Abstract %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource_metadatum.Link %>
</p>

<%= link_to 'Edit', edit_resource_metadatum_path(@resource_metadatum) %> |
<%= link_to 'Back', resource_metadata_path %>
