<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:30px">
     
    <a href="https://mothersonthefrontline.com"> <%= image_tag("motfl.png", :type => :upload, 
    :width => 70, :height => 70, :crop => :fill) %> MOTHERS ON THE FRONTLINE</a></h1>
    <p>Mothers speaking openly about children's mental health</p>
  </div>
</div>

<div class="topnav">
  <a href="/users">All Users</a>
  <a href="/users/new">Add User</a>
  <a href="/resources">Resources</a>
  <a href="/resources/new">Add Resources</a>
</div>

    
<h1>User Information</h1>    
<p id="notice"><%= notice %></p>

<p>
  
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %></p>
<p>
  <strong>Is deleted:</strong>
  <%= @user.is_deleted %>
</p>

<center><p><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %></p></center>